In [ ]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
vaccination = pd.read_csv('/content/drive/MyDrive/Education/ST.CLAIR_COLLEGE/Project_datasets/vaccinations.csv')

In [ ]:
vaccination.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,25-01-2021,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01-02-2021,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10-02-2021,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12-02-2021,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19-02-2021,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
USGDP = pd.read_csv('/content/drive/MyDrive/Education/ST.CLAIR_COLLEGE/Project_datasets/united-states-gdp-gross-domestic-product.csv')

In [ ]:
USGDP.head()

         date   GDP ( Billions of US $)   Per Capita (US $)   Annual % Change
0  1960-12-31                     543.3           3007.1234               NaN
1  1961-12-31                     563.3           3066.5629               2.3
2  1962-12-31                     605.1           3243.8431               6.1
3  1963-12-31                     638.6           3374.5152               4.4
4  1964-12-31                     685.8           3573.9412               5.8

In [13]:
US_employement = pd.read_csv('/content/drive/MyDrive/Education/ST.CLAIR_COLLEGE/Project_datasets/us-national-unemployment-rate.csv')

In [14]:
US_employement.head()

         date   value
0  1948-01-01     3.4
1  1948-02-01     3.8
2  1948-03-01     4.0
3  1948-04-01     3.9
4  1948-05-01     3.5